body{
    background: #eee url(../images/wenli.png);
}
.container{
    width: 100%;
    min-height: 100%;
}
header{
    width: 100%;
    height: .8rem;
    background:#e4a6c6 url(../images/header_logo.png) no-repeat center bottom;
    background-size: 2.58rem .82rem;
    // position: absolute;
    top: 0;
    // position: fixed;
    z-index: 999;
    transition: top .5s;
    // border-radius: 0 0 .5rem .5rem;
}
.downloadTop{
    img{
        width: 1rem;
        height: 1rem;
        border-radius: .3rem;
        margin-bottom: .16rem;
        box-shadow: 0rem 0rem 0.2rem 0.02rem rgba(0,0,0,.4);
    }
    p{
        font-size: .25rem;
        width: 56%;
        text-align: center;
    }
    .downloading{
        width: 1.6rem;
        height: .64rem;
        border-radius: .1rem;
        line-height: .54rem;
        color: #ce89a5;
        text-align: center;
        border: .02rem solid #ce89a5;
    }
    .closeDown{
        width: .25rem;
        height: .25rem;
        border-radius: 50%;
        position: absolute;
        top: .05rem;
        right: .05rem;
        line-height: .2rem;
        background: #4c4c4c url(../images/index_close.png) center center;
        background-size: cover;
    }
    position: relative;
    width: 100%;
    height: 1rem;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .16rem;
}
.mainpage{
    // width: 100%;
    min-height: 100%;
    padding: .16rem;
    // padding-top: 1.46rem;
    overflow: hidden;

    .banner-wrap{
        width: 7.13rem;
        // width: 100%;
        // margin: 0;
        height: 3.17rem;
        // background: #333;
        border-radius: .2rem;
        margin-bottom: .16rem;
        overflow: hidden;
        z-index: 0;
    }
    .banner-img{
        text-align: center;
        // line-height: 3.17rem;
        img{
            width: 100%;
            height: 3.17rem;
        }
    }
    // .tabWrap{
        // overflow-x: scroll;
        // overflow-y: hidden;
    // }
    .tab{
        width: 100%;
        height: .84rem;
        // float: left;
        // display: flex;
        // justify-content: space-around;
        // align-items: center;
        border-radius: .2rem;
        background: #fff;
        // padding: 0 1rem;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        li{
            display: inline-block;
            font-size: .32rem;
            color: #ababab;
            line-height: .8rem;
            // padding: 0 .2rem;
            margin: 0 .4rem;
        }
        .active{
            color: #000;
            border-bottom: .02rem #000 solid;
        }
    }
    .room-list{
        // display: flex;
        // flex-direction: column;
        // flex-wrap: wrap;
        // align-content: space-around;
        margin-top: .22rem;
        // display: none;
        padding-bottom: 1rem;

        //方案二
        display: flex;
        // flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        .loading{
            position: absolute;
            width: 4rem;
            top: 2rem;
            margin-left: -2rem;
            left: 50%;
        }
    }
    .room-row{
        width: 100%;
        display: flex;
        margin-bottom: .22rem;
        justify-content: space-between;
    }
    .room-game{
        width: 3.47rem;
        height: 4.32rem;
        background: #fff;
        border: solid .01rem #ececec;
        border-radius: .2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: .2rem;
        overflow: hidden;
        margin-bottom: .22rem;
        .app{
            width: 1.33rem;
            height: .4rem;
            top: .2rem;
        }
        img{
            width: 3.47rem;
            height: 3.08rem;
        }
    }
}
.wawa-name,.game-state{
    padding: 0 .22rem;
    color: #333;
}
.wawa-name{
    font-size: .28rem;
}
.game-state{
    font-size: .25rem;
    .rightCoin{
        display: flex;
        // align-items: center;
        height: .4rem;
        width: .8rem;
    justify-content: space-around;
    background: url(../images/Hi_kao_bei2@2x.png) center center no-repeat;
            background-size: .32rem .32rem;
            align-items: center;
        .hi{
            width: .32rem;
            height: .32rem;
            background: url(../images/Hi_kao_bei2@2x.png) no-repeat;
            background-size: cover;
        }
        .price{
            width: .4rem;
            // height: .32rem;
            // background: url(../images/Hi_kao_bei2@2x.png) center center no-repeat;
            // background-size: .32rem .32rem;
            font-size: .24rem;
            // line-height: .32rem;
            /* height: .4rem; */
            font-weight: 600;
            padding-left: .4rem;
        }
    }
    .state-lamp{
        display: inline-block;
        width: .24rem;
        height: .24rem;
        background: #3de43d;  
        border-radius: 50%;
        margin-right: .07rem;
    }
    .status{
        background: #82d131;
        border-radius: .2rem;
        color: #fff;
        width: 1rem;
        text-align: center;
        height: .4rem;
        // line-height: .4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .red{
        background: #ff0000!important;
    }
    .yellow{
        background: #ffba00!important;
    }

}
.game-state{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: .4rem;
}
nav{
    position: fixed;
    width: 100%;
    height: .98rem;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    background: #fff;
    align-items: center;
    box-shadow: .01rem .01rem .2rem .02rem rgba(0,0,0,.1);
    transition: bottom .5s;
    z-index: 1;
    a{
        width: 50%;
        height: 100%;
        font-size: .2rem;
        // text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: .1rem 0;
        img{
            width: .47rem;
            height: .44rem;
            // align-self: flex-start;
        }
        .currentpage{
            color: #ea8cbc;
        }
        span{
            color: #666;
            // align-self: flex-end;
        }
    }
    #recharge{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        // background: #ff6600;
        position: absolute;
        top:  -.4rem;
        left: 50%;
        margin-left: -.5rem;
        padding: 0;
        box-shadow: 0px 0px .11rem .02rem rgba(0,0,0,.4);
        img{
            width: 1rem;
            height: 1rem;
            display: block;
        }
    }
}
.gizle {
    bottom: -1.5rem;
  }
.sabit {
    bottom:0;
    z-index: 0;
}
.ttt{
    top: 0;
}
.ddd{
    top: -1.26rem;
}
.current{
    display: flex!important;
}
.dots{
    width: 50%!important;
    text-align: end!important;
    left: 3rem!important;
}
.swiper-pagination-bullet-active{
    background: #ea8cbc!important;
}
.yearParty{
    position: absolute;
    z-index: 9;
    top: 1.2rem;
    left: 50%;
    margin-left: -3.27rem;
    width: 6.54rem;
    height: 8.16rem;
    border-radius: .4rem;
    background: #fff;
    display: none;
    flex-direction: column;
    // align-content: center;
    align-items: center;
    justify-content: space-around;
    box-shadow:-13rem 17rem 20rem 20rem rgba(0,0,0,0.3);
    :nth-child(1){
        width: 4.75rem;
        height: .83rem;
        margin-top: .2rem;
    };
    :nth-child(2){
        width: 3.57rem;
        height: 2.98rem;
        margin-top: -.3rem;
    }
    :nth-child(3){
        margin-top: -.2rem;
    }
    p{
        font-size: .3rem;
    }
    .pinkText{
        color: #eb6cad;
        margin-top: -.3rem;
        font-weight: 600;
    }
    .code{
        width: 3.04rem;
        height: .78rem;
        border: solid .01rem #2674f4;
        border-radius: .19rem;
        text-align: center;
        font-size: .32rem;
        color: #989898;
        -webkit-appearance: none;
        margin-top: -.4rem;
    }
    #getCoins{
        border: none;
        outline: none;
        width: 2.82rem;
        height: .72rem;
        background-color: #e4a6c6;
        border-radius: .36rem;
        font-size: .34rem;
        color: #fff;
        margin-bottom: .2rem;
    }
    .closeHide{
        position: absolute;
        bottom: -1rem;
        left: 50%;
        margin-left: -.34rem;
        width: .68rem;
        height: .67rem;
    }
}
input::-moz-placeholder, textarea::-moz-placeholder {
    color: #989898;; }
  
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #989898;; }
  
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #989898;; }


//充值框
//充值隐藏框
.hideContent{
    position: fixed;
    top:-1rem;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: none;
    z-index: 1;
}
.hideRecharge{
    width: 6.54rem;
    height: 7.71rem;
    position: absolute;
    top: 50%;
    margin-top: -3.85rem;
    left: 50%;
    margin-left: -3.27rem;
    // border-radius: .4rem;
    // background: url(../images/dan_kuang_bei_jing@2x.png) no-repeat;
    background-size: cover;
    background: #fff;
    border-radius: .5rem;
}
.hibi{
    width: 100%;
    height: 2.45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: .26rem;
    background: linear-gradient(to bottom, #ea94da, white);
    border-radius: .5rem .5rem 0 0;
    img{
        width: 1.89rem;
        height: 1rem;
    }
    .num{
        color: #a1fdfd;
        font-size: .46rem;
    }
}
.list{
    // width: 100%;
    height: 4.7rem;
    // padding: .48rem .33rem .1rem .32rem;
    margin: .3rem .2rem;
    // display: flex;
    // flex-direction: column;
    border-radius: .12rem;
    // flex-wrap: wrap;
    // align-content: basline;
    overflow: hidden;
    overflow-y: scroll;
    :nth-child(1){
        border: none;
    }
    li{
        width: 100%;
        height: 1.1rem;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 .15rem;
        border-top: solid .02rem rgba(0,0,0,.1);

        .coins{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            color: #000;
            .coinsNum{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .font24{
                font-size: .4rem;
            }
            .font30{
                font-size: .3rem;
            }
            .coinsName{
                // width: 1.13rem;
                padding: 0 .15rem;
                height: .31rem;
                border-radius: .15rem;
                background-color: #cdecec;
                font-size: .24rem;
                text-align: center;
                line-height: .31rem;
                color: #000;
                margin-left: .3rem;
                
            }
            .dec{
                font-size: .3rem;
                color: #f2f1f1;
                letter-spacing: .03rem;
                color: #000;
            }
        }
        .chargePrice{
            width: 1.24rem;
            height: .58rem;
            background: #eeac4d;
            font-size: 0.3rem;
            border-radius: .28rem;
            line-height: .58rem;
            color: #fff;
            text-align: center;	box-shadow: 0 .03rem .07rem 0 
            rgba(77, 1, 40,.3);
        }
    }
}
.close,.close_{
    position: absolute;
    width: .68rem;
    height: .67rem;
    background: url(../images/guan_bi2@2x.png) no-repeat;
    background-size: cover;
    left: 50%;
    bottom: -.8rem;
    margin-left: -.34rem;
}
//app专属
.download{
    position: relative;
}
.app{
    position: absolute;
}