.bigbox{
    background: #fff;
}
.tabs{
    width: 100%;
    height: .82rem;
    display: flex;
    align-items: center;
    a{
        height: 100%;
        width: 33.3%;
        text-align: center;
        font-size: .28rem;
        color: #333;
        line-height: .82rem;
    }
    .active{
        color: #e98dbc;
        border-bottom:  #e98dbc .03rem solid;
    }
}
.current{
    // display:block;
    display: flex!important;
}
.current1{
    display: block;
}
.tab{
    height: 2.83rem;
    margin: .2rem .37rem 0 .37rem;
    box-shadow: 0px 10px 19px 0px 
        rgba(148, 147, 148, 0.27);
    border-radius: .2rem;
    display: flex;
    .list1,.list2,.list3{
        display: none;
    }
    .top1,.top2,.top3{
        width: 33.3%;
        height: 2.83rem;
        position: relative;
        // display: none;
    }
    .top2::after{
        content: '';
        position: absolute;
        width: 0; 
        height: 0; 
        border-top: 2.13rem solid #c6c6c7; 
        border-left: .14rem solid transparent; 
        top: 0;
        right: 0;
    }
    .top3::after{
        content: '';
        position: absolute;
        width: 0; 
        height: 0; 
        border-top: 2.13rem solid #c6c6c7; 
        border-right: .14rem solid transparent; 
        top: 0;
        left: 0;
    }
    .top1{
        height: 3rem;
        top: -.2rem;
        background-color: #ffffff;
        border-radius: .2rem;
	box-shadow: 0 .1rem .19rem 0 
		rgba(148, 147, 148, 0.14);
    border: solid .02rem rgba(0, 0, 0, 0.04);
    .smallText{
        position: absolute;
        top: 1.88rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .userName{
        font-size: .26rem;
        color: #1e1d1d;
    }
    .score{
        font-size: .26rem;
        color: #ff1848;
        letter-spacing: .01rem;
    }
    .given{
        font-size: .22rem;
        color: #000;
    }
    }
}
.smallImg{
    width: 1.09rem;
    height: 1.09rem;
    position: absolute;
    top: .33rem;
    left: 50%;
    margin-left: -.545rem;
    .iconImg{
        border: solid .01rem #8b8b8b;
        width: 1.09rem;
        height: 1.09rem;
        border-radius: 50%;
        z-index: 2;
    }
    :nth-child(2){
        width: 0.42rem;
        height: .36rem;
        position: absolute;
        top: -.14rem;
        right: 0rem;
    }
} 
.bigImg{
    width: 1.34rem;
    height: 1.34rem;
    position: absolute;
    top: .25rem;
    left: 50%;
    margin-left: -.67rem;
    .iconImg{
        border: solid .01rem #8b8b8b;
        width: 1.34rem;
        height: 1.34rem;
        border-radius: 50%;
        z-index: 2;
    }
    :nth-child(2){
        width: 0.49rem;
        height: .44rem;
        position: absolute;
        top: -.17rem;
        right: 0rem;
    }
    .middle{
        width: 1.32rem;
        height: .32rem;
        position: absolute;
        top: 1.16rem;
        left: 50%;
        margin-left: -.66rem;
        z-index: 3;
        font-size: .19rem;
        text-align: center;
        line-height: .32rem;
    }
    .left{
        width: .29rem;
        height: .31rem;
        position: absolute;
        top: 1.13rem;
        right: 1.15rem;
        z-index: 1;
    }
    .right{
        width: .29rem;
        height: .31rem;
        position: absolute;
        top: 1.13rem;
        left: 1.15rem;
        z-index: 1;
    }
}
.middle{
    width: .99rem;
    height: .26rem;
    position: absolute;
    top: .93rem;
    left: 50%;
    margin-left: -.495rem;
    z-index: 3;
    font-size: .19rem;
    text-align: center;
    line-height: .26rem;
}
.left{
    width: .24rem;
    height: .26rem;
    position: absolute;
    top: .9rem;
    right: .93rem;
    z-index: 1;
}
.right{
    width: .24rem;
    height: .26rem;
    position: absolute;
    top: .9rem;
    left: .93rem;
    z-index: 1;
}
.smallText{
    position: absolute;
    top: 1.74rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .userName{
        font-size: .24rem;
        color: #4c4b4b;
    }
    .score{
        font-size: .24rem;
        color: #ff1848;
        letter-spacing: .01rem;
    }
    .given{
        font-size: .2rem;
        color: #333333;
    }
}

.box{
    height: .26rem;
    padding: 0 .25rem;
    margin-top: .28rem;
    line-height: .28rem;
    font-size: .28rem;
    color: #666666;
    position: relative;
    :nth-child(2){
        position: absolute;
        right: 1.9rem;
    }
    :nth-child(3){
        // margin-right: .59rem;
        position: absolute;
        right: .59rem;
    }
}
ul{
    padding: 0 .43rem;
    display: none;
}
.ranklist{
    padding-bottom: 1rem;
}
ul li,.list{
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #666666;
    text-align: center;
    img{
        border-radius: 50%;
        width: .8rem;
        height: .8rem;
        margin-left: -.3rem;
    }
    .rank{
        font-size: .34rem;color: #666666;
        width: .4rem;
    }
    .username{
        width: 1.4rem;
        font-size: .24rem;white-space: nowrap;overflow: hidden;
        text-overflow: ellipsis;
    }
    :nth-child(4){
        font-size: .30rem;
        color: #e98dbc;width: 1.2rem;
    }
    :nth-child(5){
        font-size: .24rem;
        color: #333;
    }
}
div.list{
    padding: 0 .6rem 0 .21rem;
    color: #fff;
    background-color: #ea8dbc;
    position: fixed;
    bottom: 0;    width: 100%;
    :nth-child(1){
        font-size: .22rem;
    }
    :nth-child(2){
        margin-left:  -.65rem;
    }
    :nth-child(3){
        width: 1.4rem;
        font-size: .24rem;white-space: nowrap;overflow: hidden;
        text-overflow: ellipsis;
        margin-left:-.2rem;
    }
    :nth-child(4){
        font-size: .28rem;
        color: #fff;
    }
    :nth-child(5){
        font-size: .24rem;
        color: #fff;
    }
}
.mycore{
    // margin-left: -.2rem;
    text-align: start;
    width: .9rem!important;
}
.loading{
    width: 100%;
    height: 5rem;
    background: url(../images/loading1.gif) no-repeat center center;
    background-size:1rem 1rem;
}