@charset "UTF-8";
* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
  }
  a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0)}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

html {
  height: 100%;
  font-family: 'Microsoft Yahei'  'Helvetica Neue', Helvetica, STHeiTi, Arial, sans-serif; }
Element {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
     user-select: none;
}
body {
  -webkit-text-size-adjust: 100%;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // -webkit-touch-callout: none;
  height: 100%;
  overflow-x: hidden;
  // -webkit-overflow-scrolling: touch;
  font-size: 12px; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }
ul{
  list-style: none;
}
img {
  border: none;
  vertical-align: middle; }

a {
  text-decoration: none;
  outline: none;
  /*设置的tap  A标签的时候出现的黑色高亮*/
  -webkit-tap-highlight-color: transparent; }

a:active {
  outline: 0; }

.clearfix {
  zoom: 1; }

.clearfix:before,
.clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

em {
  font-style: normal; }

input {
  outline: none; 
  border: none; }

input[type="text"],
input[type="tel"] {
  -webkit-tap-highlight-color: transparent; }

/* 去除iphone ipad 设备默认按钮样式 */
input[type="button"], input[type="submit"], input[type="reset"] {
  -webkit-appearance: none;
  border-radius: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #56bebb;; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #56bebb;; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #56bebb;; }
