.win { display: none; }
.mask-layer { position: fixed; width: 100%; height: 100%; opacity: 0.5; filter: alpha(opacity=50); background-color: black; z-index: 99998; top: 0px; left: 0px; }
.window-panel { position: fixed; z-index: 99999; top: 50%; left: 50%; background-color: white; border-radius: 4px; }
.window-panel .title-panel { position: absolute; height: 36px; width: 100%; border-radius: 4px 4px 0 0; }
.window-panel .title { position: absolute; height: 36px; width: 100%; text-align: center; border-radius: 15px 15px 0 0; line-height: 36px; vertical-align: middle; background-color: whitesmoke; /*标题背景色*/ border-bottom: 1px solid rgb(233, 233, 233); z-index: 1; }
.window-panel h3 { font-size: 16px; margin: 0; }
.window-panel .close-btn { display: block; text-align: center; vertical-align: middle; position: absolute; width: 36px; height: 36px; line-height: 36px; right: 0px; text-decoration: none; font-size: 24px; color: black; background-color: #DBDBDB; border-radius: 2px; z-index: 1; }
.window-panel .close-btn:hover { background-color: #ccc; }
.window-panel .body-panel { position: absolute; width: 100%;height: 2.5rem; top: 36px; border-radius: 0 0 15px 15px; z-index: 1;background: #fff;background-image: url(../images/wenli.png); padding-top: .2rem;}
.window-panel .body-panel.toast-panel{ height: 1.5rem;position: absolute;color:#fff;background:rgba(0,0,0,0.5);display: flex; align-items: center;
  justify-content: center;}
.window-panel .content, .window-panel .btns { text-align: center;     margin-top: -.1rem;}
.window-panel .content { padding:.3rem .2rem 0px .2rem; font-size: .3rem;;font-weight: 500;     min-height: 1rem; line-height: .4rem; }
.window-panel .content.toast-content{  margin-top: -.2rem;  line-height: 1rem;padding:0;min-height:0;}
.window-panel .w-btn {     display: inline-block;
  height: .65rem;
  width: 2rem;
  line-height: .65rem;
  background-color: #e4a6c6;
  color: white;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  margin: 0 .1rem 0px .1rem;
  border: none;
  margin-top: .45rem;}
.window-panel .w-btn:hover { background-color: #e4a6c6; }
.window-panel .w-btn:focus { outline: 0 none; }
